<!DOCTYPE html>
<html>
  <head>
    <title>Daily Scripture</title>
  </head>
  <body>
    <h1>Daily Scripture</h1>
    <div id="scripture-container">
       <p>Verse: {{ scripture.verse }}</p>
      <p>Book: {{ scripture.book }}</p>
      <p>Chapter: {{ scripture.chapter }}</p>
      <p>Verse Number: {{ scripture.verseNumber }}</
    </div>
  </body>
</html>
