<!DOCTYPE html>
<html>
  <head>
    <title>Daily Scripture</title>
  </head>
  <body>
    <h1>Daily Scripture</h1>
    <div id="scripture-container">
      <p>{{ scripture }}</p>
    </div>
  </body>
</html>
