<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <title>Daily Scripture</title>
  </head>
  
  <body class="bg-blue-300">
    <div id="header" class="container flex items-center">
      <img id="logo" src="images/PrayerPal.png" alt="PrayerPal" />
    </div>
    <h1 class="text-4xl text-center my-8">Daily Scripture</h1>
    <div id="scripture-container" class="bg-white rounded-lg shadow-md p-4 mx-auto max-w-md">
      <p class="text-lg"><span class="font-semibold">Verse:</span> {{ scripture.verse }}</p>
      <p class="text-lg"><span class="font-semibold">Book:</span> {{ scripture.book }}</p>
      <p class="text-lg"><span class="font-semibold">Chapter:</span> {{ scripture.chapter }}</p>
      <p class="text-lg"><span class="font-semibold">Verse Number:</span> {{ scripture.verse_number }}</p>
    </div>
  </body>
<style>
  /* Button styles */
  .button {
    padding: 10px 20px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  /* Button hover effect */
  .button:hover {
    background-color: darkblue;
  }
</style>

<div class="container mx-auto mt-4 flex justify-center">
  <button id="Homepage" class="button" onclick="navigateToHomePage()">Home Page</button>
</div>

<script>
  function navigateToHomePage() {
    window.location.href = "/homepage";
  }
</script>

</html>
