<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>PrayerPal - Login</title>
    <style>
      body {
        background-color: rgb(127, 210, 238);
      }
    </style>
  </head>

  <body>
    <div id="header" class="container flex items-center">
      <img id="logo" src="images/PrayerPal.png" alt="PrayerPal" />
    </div>

    <div id="quote" class="w-full max-w-lg mx-auto mt-4">
      <img id="quote" src="images/quote.png" alt="quote" />
    </div>

    <form class="form login-form w-full max-w-sm mx-auto mt-4" action="/login" method="post">
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="email">Email</label>
        <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="email" id="emailLogin" placeholder="Email" required />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 font-bold mb-2" for="password">Password</label>
        <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" name="password" id="passwordLogin" placeholder="Password" required />
      </div>
      <div class="flex items-center justify-between">
        <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-3 rounded focus:outline-none focus:shadow-outline" type="submit" value="Login" />
        <p class="text-center text-gray-700 text-sm">
          Need an account? <a href="/signup" class="text-blue-500">Signup here</a>.
        </p>
      </div>
    </form>

    <div id="footer" class="bg-cover bg-center py-24 h-screen max-h-96" style="background-image: url('images/Pink Clouds.png');">
      <nav class="flex justify-center">
        <a href="/homepage" class="bg-indigo-500 text-white font-bold px-6 py-3 rounded-lg hover:bg-indigo-800">Back to Homepage</a>
      </nav>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
    <script>
    </script>
    <script src="/js/login.js"></script>

  </body>
</html>
