<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./assets/style.css" />
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <title>Heaven Quiz</title>
    <style> 
      body {
        background-color: rgb(127, 210, 238);
      }
    </style>
  </head>
  <body>
    <div id="header" class="container flex items-center">
      <img id="logo" src="images/PrayerPal.png" alt="PrayerPal" />
    </div>
    <header class="w-4/5 text-center p-4 m-36">
      <img id="quizlogo" src="images/Take your PrayerPal Quiz.png" alt="Quiz Logo" class="mx-auto" />
      <h1 class="text-3xl font-serif">How good of a person are you?</h1>
    </header>

    <section class="sect text-center p-8 rounded-lg" id="intro">
      <p class="text-black-800 font-serif font-semibold text-lg">
        You will have 60 seconds to answer up to 5 questions,<br />
        Click "Start Quiz" to begin.
      </p>
      <button id="start" class="bg-fuchsia-200 hover:bg-fuchsia-400 text-white font-serif py-2 px-4 mt-16 rounded-md transition-colors duration-300">
        Start Quiz
      </button>
    </section>

    <div class="sect" id="rate"></div>

    <section class="sect hidden bg-fuchsia-200 p-8 rounded-lg shadow-lg" id="questionSelect">
      <h3 id="question" class="text-center font-serif text-fuchsia-400 font-semibold text-lg mb-4">Take Your Quiz</h3>
      <p class="option bg-fuchsia-100 text-center font-serif text-black-800 rounded-full py-2 px-4 mb-2 cursor-pointer hover:bg-fuchsia-200 transition-colors duration-300" id="A" onclick="validateAnswer('A')">Option A</p>
      <p class="option bg-fuchsia-100 text-center font-serif text-black-800 rounded-full py-2 px-4 mb-2 cursor-pointer hover:bg-fuchsia-200 transition-colors duration-300" id="B" onclick="validateAnswer('B')">Option B</p>
    </section>

    <section class="sect hidden" id="gameOver">
      <h2 class="final text-black font-serif">Quiz Over</h2>
      <p id="score" class="text-black font-serif"></p>
      <label for="initials" class="text-black-800 font-serif">Enter initials</label>
      <input type="text" name="initials" id="initials" class="bg-fuchsia-200 text-fuchsia-800 border-2 border-fuchsia-300 rounded-lg py-2 px-4 mb-4" />
      <button id="submitBtn" class="bg-fuchsia-200 hover:bg-fuchsia-400 text-white font-serif py-2 px-4 rounded-md transition-colors duration-300">Submit</button>
    </section>

    <section class="sect" id="highScorePage"></section>
    <h2><img id="quizlogo" src="images/Heavens Gate.png" alt="PrayerPal" /></h2>
    <div id="highScores" style="background-image: url('images/list.png')"></div>
    <button id="main" class="text-center bg-fuchsia-200 hover:bg-fuchsia-400 font-serif text-white py-2 px-4 mt-4 rounded-md transition-colors duration-300" onclick="navigateToHomePage()">Main Page</button>

<script>
  function navigateToHomePage() {
    window.location.href = "/homepage";
  }
</script>

   </section>

    <section class="flex justify-between mt-4">
      <h2 id="highScoreLink" class="text-center text-xl bg-fuchsia-200 hover:bg-fuchsia-400 font-serif text-white py-2 px-4 rounded-md transition-colors duration-300">View High Scores</h2>
      <h2 id="timer" class="text-xl"></h2>
    </section>

    <script src="assets/quiz.js"></script>

    <div id="footer" class="bg-cover bg-center py-36 w-full h-full" style="background-image: url('images/PinkClouds Header.png')"></div>
<!-- should probably move this to its own js file -->
    <script>
      const rate = document.querySelector("#rate");
const highScoreLink = document.querySelector("#highScoreLink");
const timer = document.querySelector("#timer");
const introSect = document.querySelector("#intro");
const startBtn = document.querySelector("#start");
const questionSelect = document.querySelector("#questionSelect");
const gameOver = document.querySelector("#gameOver");
const submitBtn = document.querySelector("#submitBtn");
const highScorePage = document.querySelector("#highScorePage");
const highScores = document.querySelector("#highScores");
const mainBtn = document.querySelector("#main");
const clearBtn = document.querySelector("#clear");

const questions = [
    {
        prompt: "Do you go to church?",
        optionA: "Yes",
        optionB: "No",
        answer: "A",
    },
{
    prompt: "Do you behave kindly with others?",
    optionA: "Yes",
    optionB: "No",
    answer: "A",
},
{
    prompt: "Do you do charity?",
    optionA: "Yes",
    optionB: "No",
    answer: "A",
},
{
    prompt: " Do you repent for your sins?",
    optionA: "Yes",
    optionB: "No",
    answer: "A",
},
{
    prompt: "Do you manipulate people?",
    optionA: "No, I am a straight forward person",
    optionB: "Yes, people exist to serve me",
    answer: "A",
},
];

const lastQuestion = questions.length - 1;
let currentQuestion = 0;
let secondsLeft = 60;
let score = 0;
let interval;

function hide(y) {
    y.style.display = "none";
  }

  function show(z) {
    z.style.display = "block";
  }

  startBtn.addEventListener("click", function () {
    hide(introSect);
    show(questionSelect);
    getQuestions();
    countdown();
    timer.textContent = "Timer: " + secondsLeft + " second(s)";
  });

  function countdown() {
    show(timer);
    interval = setInterval(function () {
      secondsLeft--;
      timer.textContent = "Timer: " + secondsLeft + " second(s)";
      if (secondsLeft <= 0) {
        stopTimer();
        finalizeQuiz();
      }
    }, 1000);
  }

  function stopTimer() {
    clearInterval(interval);
    hide(timer);
  }

  function getQuestions() {
    const questionPrompt = document.querySelector("#question");
    const optionA = document.querySelector("#A");
    const optionB = document.querySelector("#B");
  
    questionPrompt.textContent = questions[currentQuestion].prompt;
    optionA.textContent = questions[currentQuestion].optionA;
    optionB.textContent = questions[currentQuestion].optionB;
  }

  function validateAnswer(x) {
    show(rate);
    if (x == questions[currentQuestion].answer) {
      score++;
      rate.textContent = "Nice!";
    } else {
      secondsLeft = secondsLeft - 0;
      rate.textContent = "Shame!";
    }
    if (currentQuestion < lastQuestion) {
      currentQuestion++;
      getQuestions();
    } else {
      stopTimer();
      finishQuiz();
    }
  }

  function finishQuiz() {
    hide(timer);
    hide(questionSelect);
    show(gameOver);
    const showScore = document.querySelector("#score");
    showScore.textContent = "Your final score is " + score + ".";
  }

  function renderHighScores() {
    //Gets scores array from local storage
    const allScores = JSON.parse(localStorage.getItem("scores")) || [];
    allScores.sort((a, b) => b.score - a.score);
    for (let i = 0; i < allScores.length; i++) {
      const savedScores = document.createElement("p");
      savedScores.textContent =
        i +
        1 +
        ". " +
        allScores[i].user +
        " - " +
        allScores[i].score +
        " point(s)";
      highScores.appendChild(savedScores);
    }
  }

  submitBtn.addEventListener("click",  function () {
    let initials = document.querySelector("#initials").value;
    if (initials === "") {
        alert("Enter your initials");
  } else {
    hide(highScoreLink);
    hide(rate);
    hide(gameOver);
    show(highScorePage);
    const newPlayer = {
        user: initials,
        score,
      };

      const allScores = JSON.parse(localStorage.getItem("scores")) || [];

      allScores.push(newPlayer);

      localStorage.setItem("scores", JSON.stringify(allScores));
    renderHighScores();
  }
});

highScoreLink.addEventListener("click", function () {
    show(highScorePage);
    hide(introSect);
    hide(highScoreLink);
    hide(questionSelect);
    hide(gameOver);
    hide(rate);
    hide(timer);
    stopTimer();
    renderHighScores();
  });

  mainBtn.addEventListener("click", function () {
    reset();
    show(introSect);
    show(highScoreLink);
    hide(highScorePage);
    initials.value = "";
  });

  clearBtn.addEventListener("click", function () {
    removeChild();
    localStorage.removeItem("scores");
  });

  function reset() {
    score = 0;
    currentQuestion = 0;
    secondsLeft = 60;
    removeChild();
  }

  function removeChild() {
    const parent = document.querySelector("#highScores");
    while (parent.firstChild) {
      parent.removeChild(parent.firstChild);
    }
  }
    </script>
  </body>
</html>
