* {
    box-sizing: border-box;
    font-size: 20px;
    background-color: gray;
}

#intro,
#highScoreLink {
    display: block;
}

.sect {
    display: none;
    margin: auto;
    max-width: 600px;
}

h1 {
    text-align: center;
    font-size: 30px;
}

#intro {
    text-align: center;
}

#intro p{
    font-size: 30px;
}

#highScoreLink {
    text-decoration: underline;
    color: aliceblue;
}

#highScoreLink:hover {
    cursor: grab;
}

#rate {
    color: blue;
}

#question {
    text-align: center;
    color: aliceblue;
}

#questionSelect{
    color: aliceblue;
}

.option {
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.option:hover {
    cursor: grab;
    font-size: larger;
    font-weight: bold;

}

button {
    margin: 3px;
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

button:hover {
    color: black;
    background-color: white;
    border: solid black 2px;
    cursor: grab;
}

.final {
    font-size: 30px;
}

#initials{
    background-color: aliceblue;
}